@{
	ViewData["Title"] = "Connector Dashboard";
}
<div class="row">
	<h4 class="text-center">To change app settings, register numbers or template messages, access the "Meta Whatsapp Integration" dashboard on the side menu.</h4>
</div>