@{
    ViewData["Title"] = "Payment";
}


<div class="text-center">
    <h1 class="display-4">Aqui é a Payment Area</h1>
    <p>Pagar com o Stripe</p>
    <br />
    <button type="button" class="btn btn-primary">Pagar com o Stripe!</button>
</div>
